/*DARK MODE*/

.darknav {
    background-color: black;
    color: white;
}

.darknav a {
    color: white;
}

.darknav a:hover {
    color: rgb(160, 160, 255);
}

.darknav .navi {
    border-bottom: solid white 10px;
}

.darknav .the-lesson,
.darknav .sidebar,
.darknav #quiz,
.darknav h1,
.darknav .homeblock,
.darknav .classes {
    background-color: rgb(51, 50, 56);
    color: white;
}

.darknav .homeblock {
    border-left: solid white 30px;
    border-bottom: solid white 3px;
}

.darknav .classes,
.darknav .classbutt,
.darknav .forbutt,
.darknav .backbutt {
    background-color: white;
    color: black;

}

.darknav .classbutt:hover {
    background-color:#174467;
    color: white;
    font-weight: bold;
}

.darknav .sidebar {
    border-right: solid white 5px;
}

.darknav button:hover {
    background-color:#174467;
}

.darknav .homeblock

/*MAIN WEBSITE*/

body {
    margin: 0px;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
}

.navi {
    border-bottom: solid #113F67 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
}

.navo {
    justify-self: start;
    cursor:default;
    font-size: 15px;
}

.navilink {
    text-decoration: none;
    color: black;
}

.navlink {
    align-content: center;
    margin-left: 5px;
}

.navlink:hover {
    text-decoration: underline 10px;
    color: #87C0CD;
    cursor: pointer;
}

.navlink:hover {
    transform: scale(1.1);
}

.pwptitle {
    text-decoration: none;
    color: black;

}

/*Class Buttons*/

.lessbutt {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.classes {
    background-color: #113F67;
    font-size: 15px;
    width: auto;
    height: auto;
    color: white;
    border: none;
    padding: 10px;
    box-shadow: 6px 5px; 
    margin-top: 15px;
}


.classes:hover {
    transform: scale(1.01);
    box-shadow: 2px 0.5px 1px;
}

.classbutt {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}


/*Back and Forward Button*/

.forbackbutt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.backbutt {
    text-align: center;
    padding: 5px;
    background-color: #87C0CD;
    height: 30px;
    width: auto;
    font-size: 15px;
    border: solid black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 10px;
}

.backbutt:hover {
    background-color: #96d7e6;
    box-shadow: 1px 1px 0px;
    transform: scale(1.05);
    cursor: pointer;
}

.forbutt {
    text-align: center;
    padding: 5px;
    background-color: #87C0CD;
    height: 30px;
    width: auto;
    font-size: 15px;
    border: solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
}

.forbutt:hover {
    background-color: #96d7e6;
    box-shadow: 1px 1px 0px;
    transform: scale(1.05);
    cursor: pointer;
}

/*Home Blocks*/

.homeblock {
    justify-self: center;
    border-bottom: solid black 3px;
    border-left: solid rgb(0, 0, 0) 30px;
    background-color: #87C0CD;
    align-content: center;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
}

.hbhead {
    text-align: center;
}

/*Sidebar*/

.sidebar {
    font-size: 15px;
    background-color: #87C0CD;
    width: 20%;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    max-height: 670px;
    overflow:auto;
}

.lesslisb {
    color: black;
    text-decoration: none;
    margin-bottom: 2px;
}

.lesslisb:hover {
    color: blue;
}

.lesswbar {
    display: flex;
    flex-direction: row;
}


/*Lessons*/

.lesson-title {
    display: flex;
    justify-content: center;
}

.lesshead {
    text-align: center;
    margin-top: 40px;
}

.the-lesson {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-right: 10px;
    padding: 10px;
    max-height: 660px;
    overflow: scroll;
}

 iframe {
    display: flex;
    justify-self: center;
    max-width: 80%;
    max-height: auto;
}

/*Quiz*/

#quiz {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #87C0CD;
  border-radius: 10px;
  border-bottom: solid black 2px;
}

h1 {
  text-align: center;
  color: #333333;
}

#question {
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  font-size: 15px;
  margin: 5px auto;
  width: 80%;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background-color: #226597;
  color: white;
  font-weight: bold;
}

#submit {
    font-weight: bold;
    width: 50%;
}

/*Lesson One Stuff*/

#underlinethis {
    text-decoration: underline;
}

#bold {
    font-weight: bold;
}

#red {
    color: red;
}

#center {
    text-align: center;
}

